.dvc
.git
.github
.gitignore
.dvcignore
.vscode
.coverage
__pycache__
.mypy_cache
.pytest_cache
data
mlruns
docker_data
tests
mlflow.db
dvc.lock
*.yaml
*.ipynb
*.json
*.csv
Dockerfile
README.md
docker-compose.yml
