name: CI Checks

on:
  push:
    branches:
      - '*'
  pull_request:
    branches:
      - '*'

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Set Up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10.2'

      - name: Install Dependencies
        run: |
          pip install -r requirements.txt

      - name: Run Flake8
        run: flake8 --max-line-length=100 .

  type-check:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Set Up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10.2'

      - name: Install Dependencies
        run: |
          pip install -r requirements.txt

      - name: Run Mypy
        run: mypy --follow-untyped-imports --strict --exclude tests/ --disable-error-code="attr-defined" --disable-error-code="no-any-return" .

  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Set Up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10.2'

      - name: Install Dependencies
        run: |
          pip install -r requirements.txt

      - name: Run Tests
        run: pytest